<div id="profiles">
 <% @profiles.each do |profile| %>
  <div class="col-xs-12 col-sm-6 col-md-3 text-center profile">
    <% if profile.photo %>
      <p class="profile-img"><%= image_tag profile.photo.url(:thumb) %> </p>
    <% end %>
    <p><%= profile.tagline %></p>
    <p><%= link_to "View Profile", profile_path(profile), class: "btn btn-primary" %></p>
  </div>
 <% end %>
</div>

<script>
  $(function() {
      $('.profile').matchHeight();
      $('.profile-img').matchHeight();
  });
</script>
