<!DOCTYPE html>
<html>
<head>
  <title>CoreConnection</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </u>
    </nav>
    <div>
    </div>

    <%= yield %>

    </div>
</body>
</html>
